@model Job
@{
    ViewData["Title"] = "Edit";
}
<div class="right-side">
    <h4>Post a Job</h4>
    <div class="post">
        <div class="title">
            <h4>Basic Information</h4>
        </div>
        <div class="form">
            <form method="post">
                <div class="row">
                    <div class="col-lg-6">
                        <label>Job Title</label> <br>
                        <input asp-for="Name" type="text" class="input-text" value="@Model.Name" placeholder="Your Title">
                    </div>
                    <div class="col-lg-6">
                        <label asp-for="Type.Name">Job Type</label> <br>
                        <select class="js-example-basic-single input-text" asp-for="Type.Name">
                            @foreach (FinalProject.Models.Type item in ViewBag.Types)
                            {
                                <option value="@item.Name">@item.Name</option>

                            }
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label asp-for="Category.Name">Job Category</label> <br>
                        <select class="js-example-basic-single input-text" asp-for="Category.Name">
                            @foreach (Category item in ViewBag.Categories)
                            {
                                <option value="@item.Name">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label for="">Salary</label> <br>
                        <input asp-for="Salary" type="number" value="@Model.Salary" min="300" step="50" class="input-text" placeholder="Salary">
                    </div>
                    <div class="col-lg-6">
                        <label asp-for="Location.Name">City</label> <br>
                        <select class="js-example-basic-single input-text" asp-for="Location.Name">
                            @foreach (Location item in ViewBag.Locations)
                            {
                                <option value="@item.Name">@item.Name</option>
                            }
                        </select>
                    </div>
                    <div class="col-lg-6">
                        <label for="">Experience</label> <br>
                        <input asp-for="Experience" min="0" max="20" class="input-text" value="@Model.Experience">
                    </div>
                    <div class="col-lg-12">
                        <label for="">Job Description</label>
                        <textarea asp-for="Description" rows="8" placeholder="Detailed Information">
                            @Model.Description
                        </textarea>
                    </div>
                    <div class="col-lg-6 mt-5">
                        <button class="btn-post">Edit</button>
                        <a asp-area="Admin" asp-controller="Job" asp-action="Index" class="btn btn-light">Go Back</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <div class="copyright">
        <p>© 2018 Theme Vessel. Trademarks and brands are the property of their respective owners.</p>
    </div>
</div>

@section Scripts{
    <script>
        // In your Javascript (external .js resource or <script> tag)
        $(document).ready(function () {
            $('.js-example-basic-single').select2();
        });
    </script>
}