@model Link[]
@{
    Layout = null;
}

    <div class="left-side">
        <div class="title">
            <h4>Main</h4>
        </div>
        <div class="mainList">
            <ul>
                @for (int i = 0; i < Model.Length - 2; i++)
                {
                    string[] controller = Model[i].Controller.Split('/');
                    if (controller[0] == "Candidate")
                    {
                        <li>
                            <a asp-area="" asp-controller="@Model[i].Controller" asp-action="Index">
                                @Html.Raw(Model[i].Icon)
                                @Model[i].Name
                            </a>
                        </li>
                    }
                    else
                    {
                        if (Model[i].Controller.Contains(ViewBag.Controller))
                        {
                        <li class="active-link">
                            <a asp-area="Admin" asp-controller="@Model[i].Controller" asp-action="Index">
                                @Html.Raw(Model[i].Icon)
                                @Model[i].Name
                            </a>
                        </li>
                        }
                        else
                        {
                        <li>
                            <a asp-area="Admin" asp-controller="@Model[i].Controller" asp-action="Index">
                                @Html.Raw(Model[i].Icon)
                                @Model[i].Name
                            </a>
                        </li>

                        }
                    }
                }
            </ul>
        </div>
        <div class="title">
            <h4>Account</h4>
        </div>
        <div class="mainList">
            <ul>
                @for (int i = Model.Length - 2; i < Model.Length; i++)
                {
                    string[] controller = Model[i].Controller.Split('/');
                    if (Model[i].Controller.Contains(ViewBag.Controller))
                    {
                        if (ViewBag.Controller != "Account")
                        {
                            <li class="active-link">
                                <a asp-controller=@controller[0] asp-action=@controller[1]>
                                    @Html.Raw(Model[i].Icon)
                                    @Model[i].Name
                                </a>
                            </li>
                        }
                        else
                        {
                            <li>
                                <a asp-controller=@controller[0] asp-action=@controller[1]>
                                    @Html.Raw(Model[i].Icon)
                                    @Model[i].Name
                                </a>
                            </li>
                        }
                    }
                    else
                    {
                        <li>
                            @if (controller[1] == "Logout")
                            {
                                <a asp-area="" asp-controller=@controller[0] asp-action=@controller[1] asp-route-username="@User.Identity.Name">
                                    @Html.Raw(Model[i].Icon)
                                    @Model[i].Name
                                </a>
                            }
                            else
                            {
                                <a asp-controller=@controller[0] asp-action=@controller[1] asp-route-username="@User.Identity.Name">
                                    @Html.Raw(Model[i].Icon)
                                    @Model[i].Name
                                </a>
                            }
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
