@model IEnumerable<Teacher>
@{
    ViewData["Title"] = "Index";
}

    <div class="row">
        <div class="col-lg-12 grid-margin stretch-card">
            <div class="card">
                <div class="card-body">
                    <h4 class="card-title">Slider Images</h4>
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th> Image </th>
                                <th> Name</th>
                                <th> Profession </th>
                                <th> Setting </th>
                                <th>
                                    <a asp-action="Create" class="btn-success px-4 py-2">
                                        <i class="fas fa-plus-circle text-white-50"></i>
                                    </a>
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Teacher item in Model)
                            {
                                <tr>
                                    <td class="py-1">
                                        <img src="~/img/teacher/@item.Image" alt="image" />
                                    </td>
                                    <td>
                                        @item.Name
                                    </td>
                                    <td>
                                        @item.Profession
                                    </td>
                                    <td>
                                        <a asp-action="Info" asp-route-Id="@item.Id" class="btn-info px-4 py-2">
                                            <i class="fas fa-info text-white-50"></i>
                                        </a>
                                        <a asp-action="Edit" asp-route-Id="@item.Id" class="btn-primary px-4 py-2">
                                            <i class="fas fa-edit text-white-50"></i>
                                        </a>
                                        <a asp-action="Delete" asp-route-Id="@item.Id" class="btn-danger px-4 py-2">
                                            <i class="fas fa-trash text-white-50"></i>
                                        </a>
                                    </td>
                                </tr>

                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
